 {% extends "dashboard.html.twig" %}


{% block body %}
  <h1> GESTION DE DONNEE</h1>

<div class="form-group">

<a href="{{path('admin_gite_create')}}" class="btn btn-success">Créer un gite</a>


</div>






<table class="table table-gitstriped">
<thead>
        <td>#</td>
        <td>nom du gite</td>
        <td> Action </td>
</thead>
<tbody>
 {% for gite in gites %}
    <tr>
    <td>{{ gite.id }}</td>
    <td>{{ gite.nom }}</td>
    <td> 
    <a href="{{ path('admin_gite_edit', {id: gite.id}) }}" class="btn btn-primary">Editer</a>
     <form action="{{ path('admin_gite_delete',{id:gite.id}) }}" method="post">
    <input types="hidden" name="token" value="{{ csrf_token('gite_delete' ~ gite.id ) }}">
    <input type="submit" class="btn btn-danger" value="Supprimer">
    </form>
    </td> 
    </tr>    
 {% endfor %}


</tbody>

</table>


{% for message in app.flashes('success') %}
   <div class="alert alert-success">
   {{ message }}
   </div>
{% endfor %}
{% for message in app.flashes('error') %}
   <div class="alert alert-danger">
   {{ message }}
   </div>
{% endfor %}





{% endblock %}